# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
/backend/.vscode

**/__pycache__/
/backend/social_media_management/settings.py
