# Node.js
/node_modules/

# Build output
/build/

# Python bytecode
**/__pycache__/
**/*.pyc
**/*.pyo
*.pyd

# Environment variables
.env
.venv/
.venv
venv

# Redis, Celery, or temporary files (if added later)
*.log
*.pot
*.mo
*.db

# OS files
Thumbs.db

media/media
media/accounts
.commands/
celerybeat-schedule
