# File: .github/workflows/backend-docker.yml
name: CI/CD Pipeline for Django

on:
  pull_request:
    types: [closed]
    branches: [master]

jobs:
  test:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    
    env:
      DJANGO_SUPPRESS_PROMPTS: true
      
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v2

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11.9"

      - name: Set up PostgreSQL
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: '14'
          postgresql db: 'test_planit_db'
          postgresql user: 'postgres'
          postgresql password: 'root'
          
      # Install dependencies
      - name: Install Django dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Run Django tests
      - name: Run Django tests
        run: |
          python manage.py test --noinput

  build:
    if: github.event.pull_request.merged == true
    needs: test
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v2

      # Build Docker image
      - name: Build backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: |
            achrefmaarfi0/planit_backend_docker:latest
            achrefmaarfi0/planit_backend_docker:${{ github.sha }}

  push:
    if: github.event.pull_request.merged == true
    needs: build
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v2

      # Docker login
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      # Build and push image
      - name: Build and push backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            achrefmaarfi0/planit_backend_docker:latest
            achrefmaarfi0/planit_backend_docker:${{ github.sha }}

  deploy:
    if: github.event.pull_request.merged == true
    needs: push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            # Navigate to the directory containing your production docker-compose file
            cd /planit

            # Pull the newest images from Docker Hub that were just pushed
            docker compose pull

            # Stop and restart all services with the new images
            # The .env.prod file in this directory provides the environment variables
            docker compose up -d --remove-orphans

            # Clean up old, unused Docker images to save space
            docker image prune -af
